{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "http://api.bumsiku.kr",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "인증 관련 API"
    },
    {
      "name": "Admin API",
      "description": "관리자 전용 API"
    },
    {
      "name": "Public API",
      "description": "공개적으로 접근 가능한 API"
    }
  ],
  "paths": {
    "/admin/posts/{postId}": {
      "put": {
        "tags": ["Admin API"],
        "summary": "게시물 수정",
        "description": "기존 블로그 게시물을 수정합니다 (관리자 전용)",
        "operationId": "editPost",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "description": "수정할 게시물 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePostResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePostResponse"
                }
              }
            }
          },
          "404": {
            "description": "게시물을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePostResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePostResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAuth": []
          }
        ]
      },
      "delete": {
        "tags": ["Admin API"],
        "summary": "게시물 삭제",
        "description": "블로그 게시물과 관련 댓글을 삭제합니다 (관리자 전용)",
        "operationId": "deletePost",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "description": "삭제할 게시물 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "삭제 성공 메시지",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMapStringString"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "게시물을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMapStringString"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMapStringString"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAuth": []
          }
        ]
      }
    },
    "/admin/categories/{id}": {
      "put": {
        "tags": ["Admin API"],
        "summary": "카테고리 수정",
        "description": "기존 블로그 카테고리를 수정합니다 (관리자 전용)",
        "operationId": "updateCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "수정할 카테고리 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCategoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCategoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCategoryResponse"
                }
              }
            }
          },
          "404": {
            "description": "카테고리를 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCategoryResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCategoryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAuth": []
          }
        ]
      }
    },
    "/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "로그인",
        "description": "사용자 아이디와 비밀번호로 로그인하여 세션을 생성합니다.",
        "operationId": "login",
        "requestBody": {
          "description": "로그인 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "로그인 성공"
          },
          "401": {
            "description": "인증 실패"
          }
        }
      }
    },
    "/comments/{postId}": {
      "get": {
        "tags": ["Public API"],
        "summary": "특정 게시글의 댓글 목록 조회",
        "description": "게시글 ID를 이용하여 해당 게시글의 모든 댓글을 조회합니다.",
        "operationId": "getCommentsByPostId",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "description": "댓글을 조회할 게시글 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (ID 형식 오류)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListCommentResponse"
                }
              }
            }
          },
          "404": {
            "description": "게시글을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListCommentResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Public API"],
        "summary": "댓글 작성",
        "description": "특정 게시글에 새로운 댓글을 작성합니다.",
        "operationId": "postComment",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "description": "댓글을 작성할 게시글 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (요청 본문 오류)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCommentResponse"
                }
              }
            }
          },
          "404": {
            "description": "게시글을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCommentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/posts": {
      "post": {
        "tags": ["Admin API"],
        "summary": "게시물 작성",
        "description": "새 블로그 게시물을 작성합니다 (관리자 전용)",
        "operationId": "addPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePostResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePostResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePostResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAuth": []
          }
        ]
      }
    },
    "/admin/images": {
      "post": {
        "tags": ["Admin API"],
        "summary": "이미지 업로드",
        "description": "블로그에 표시할 이미지를 업로드합니다 (관리자 전용)",
        "operationId": "addImage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "이미지 파일"
                  }
                },
                "required": ["image"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "업로드 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseUploadImageResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증되지 않은 요청",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseUploadImageResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseUploadImageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAuth": []
          }
        ]
      }
    },
    "/admin/categories": {
      "post": {
        "tags": ["Admin API"],
        "summary": "카테고리 추가",
        "description": "새로운 블로그 카테고리를 추가합니다 (관리자 전용)",
        "operationId": "createCategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCategoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCategoryResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCategoryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAuth": []
          }
        ]
      }
    },
    "/posts": {
      "get": {
        "tags": ["Public API"],
        "summary": "게시글 목록 조회",
        "description": "페이지네이션 및 정렬 기능 제공",
        "operationId": "getPosts",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "페이지 번호 (0부터 시작)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "페이지 크기",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "정렬 기준 (예: createdAt,desc)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "createdAt,desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (페이지 또는 사이즈 파라미터 오류)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePostListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/posts/{postId}": {
      "get": {
        "tags": ["Public API"],
        "summary": "특정 게시글 조회",
        "description": "ID를 이용하여 특정 게시글 상세 정보를 조회합니다.",
        "operationId": "getPostById",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "description": "조회할 게시글 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (ID 형식 오류)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePostResponse"
                }
              }
            }
          },
          "404": {
            "description": "게시글을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": ["Public API"],
        "summary": "카테고리 목록 조회",
        "description": "블로그에 등록된 모든 카테고리와 각 카테고리에 속한 게시글 수를 조회합니다.",
        "operationId": "getCategories",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListCategoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "tags": ["Public API"],
        "summary": "Swagger UI 리디렉션",
        "description": "루트 경로 접근 시 Swagger UI 페이지로 리디렉션합니다.",
        "operationId": "redirectToSwagger",
        "responses": {
          "302": {
            "description": "Found - Swagger UI 페이지로 리디렉션",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectView"
                }
              }
            }
          }
        }
      }
    },
    "/admin/comments/{commentId}": {
      "delete": {
        "tags": ["Admin API"],
        "summary": "댓글 삭제",
        "description": "블로그 댓글을 삭제합니다 (관리자 전용)",
        "operationId": "deleteComment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "삭제할 댓글 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "삭제 성공 메시지",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMapStringString"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMapStringString"
                }
              }
            }
          },
          "404": {
            "description": "댓글을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMapStringString"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMapStringString"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "UpdatePostRequest": {
        "type": "object",
        "description": "수정할 게시물 정보",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 100,
            "minLength": 1
          },
          "content": {
            "type": "string",
            "maxLength": 10000,
            "minLength": 1
          },
          "summary": {
            "type": "string",
            "maxLength": 200,
            "minLength": 1
          },
          "category": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "PostResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "ErrorInfo": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ResponsePostResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/PostResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorInfo"
          }
        }
      },
      "UpdateCategoryRequest": {
        "type": "object",
        "description": "카테고리 정보",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "orderNum": {
            "type": "integer",
            "format": "int32"
          }
        },
        "required": ["orderNum"]
      },
      "CategoryResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "order": {
            "type": "integer",
            "format": "int32"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "postCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ResponseCategoryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/CategoryResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorInfo"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "description": "로그인 요청 데이터",
        "properties": {
          "username": {
            "type": "string",
            "description": "사용자 아이디",
            "example": "admin"
          },
          "password": {
            "type": "string",
            "description": "비밀번호",
            "example": "password"
          }
        }
      },
      "CommentRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "maxLength": 500,
            "minLength": 1
          },
          "author": {
            "type": "string",
            "maxLength": 20,
            "minLength": 2
          }
        }
      },
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorInfo"
          }
        }
      },
      "CommentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "authorName": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "ResponseCommentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/CommentResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorInfo"
          }
        }
      },
      "CreatePostRequest": {
        "type": "object",
        "description": "게시물 정보",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 100,
            "minLength": 1
          },
          "content": {
            "type": "string",
            "maxLength": 10000,
            "minLength": 1
          },
          "summary": {
            "type": "string",
            "maxLength": 200,
            "minLength": 1
          },
          "category": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "UploadImageResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ResponseUploadImageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/UploadImageResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorInfo"
          }
        }
      },
      "CreateCategoryRequest": {
        "type": "object",
        "description": "카테고리 정보",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "orderNum": {
            "type": "integer",
            "format": "int32"
          }
        },
        "required": ["orderNum"]
      },
      "PostListResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostSummaryResponse"
            }
          },
          "totalElements": {
            "type": "integer",
            "format": "int32"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PostSummaryResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ResponsePostListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/PostListResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorInfo"
          }
        }
      },
      "ResponseListCommentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommentResponse"
            }
          },
          "error": {
            "$ref": "#/components/schemas/ErrorInfo"
          }
        }
      },
      "ResponseListCategoryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoryResponse"
            }
          },
          "error": {
            "$ref": "#/components/schemas/ErrorInfo"
          }
        }
      },
      "ApplicationContext": {
        "type": "object",
        "properties": {
          "parent": {
            "$ref": "#/components/schemas/ApplicationContext"
          },
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "applicationName": {
            "type": "string"
          },
          "startupDate": {
            "type": "integer",
            "format": "int64"
          },
          "autowireCapableBeanFactory": {
            "$ref": "#/components/schemas/AutowireCapableBeanFactory"
          },
          "environment": {
            "$ref": "#/components/schemas/Environment"
          },
          "beanDefinitionCount": {
            "type": "integer",
            "format": "int32"
          },
          "beanDefinitionNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "parentBeanFactory": {
            "$ref": "#/components/schemas/BeanFactory"
          },
          "classLoader": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "registeredAsParallelCapable": {
                "type": "boolean"
              },
              "parent": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "registeredAsParallelCapable": {
                    "type": "boolean"
                  },
                  "unnamedModule": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "classLoader": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "registeredAsParallelCapable": {
                            "type": "boolean"
                          },
                          "definedPackages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "annotations": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                },
                                "declaredAnnotations": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                },
                                "sealed": {
                                  "type": "boolean"
                                },
                                "specificationTitle": {
                                  "type": "string"
                                },
                                "specificationVersion": {
                                  "type": "string"
                                },
                                "specificationVendor": {
                                  "type": "string"
                                },
                                "implementationTitle": {
                                  "type": "string"
                                },
                                "implementationVersion": {
                                  "type": "string"
                                },
                                "implementationVendor": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "defaultAssertionStatus": {
                            "type": "boolean",
                            "writeOnly": true
                          }
                        }
                      },
                      "descriptor": {
                        "type": "object",
                        "properties": {
                          "open": {
                            "type": "boolean"
                          },
                          "automatic": {
                            "type": "boolean"
                          }
                        }
                      },
                      "named": {
                        "type": "boolean"
                      },
                      "annotations": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "declaredAnnotations": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "packages": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "uniqueItems": true
                      },
                      "layer": {
                        "type": "object"
                      }
                    }
                  },
                  "definedPackages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "annotations": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "declaredAnnotations": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "sealed": {
                          "type": "boolean"
                        },
                        "specificationTitle": {
                          "type": "string"
                        },
                        "specificationVersion": {
                          "type": "string"
                        },
                        "specificationVendor": {
                          "type": "string"
                        },
                        "implementationTitle": {
                          "type": "string"
                        },
                        "implementationVersion": {
                          "type": "string"
                        },
                        "implementationVendor": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "defaultAssertionStatus": {
                    "type": "boolean",
                    "writeOnly": true
                  }
                }
              },
              "unnamedModule": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "classLoader": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "registeredAsParallelCapable": {
                        "type": "boolean"
                      },
                      "definedPackages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "annotations": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            },
                            "declaredAnnotations": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            },
                            "sealed": {
                              "type": "boolean"
                            },
                            "specificationTitle": {
                              "type": "string"
                            },
                            "specificationVersion": {
                              "type": "string"
                            },
                            "specificationVendor": {
                              "type": "string"
                            },
                            "implementationTitle": {
                              "type": "string"
                            },
                            "implementationVersion": {
                              "type": "string"
                            },
                            "implementationVendor": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "defaultAssertionStatus": {
                        "type": "boolean",
                        "writeOnly": true
                      }
                    }
                  },
                  "descriptor": {
                    "type": "object",
                    "properties": {
                      "open": {
                        "type": "boolean"
                      },
                      "automatic": {
                        "type": "boolean"
                      }
                    }
                  },
                  "named": {
                    "type": "boolean"
                  },
                  "annotations": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "declaredAnnotations": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "packages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "uniqueItems": true
                  },
                  "layer": {
                    "type": "object"
                  }
                }
              },
              "definedPackages": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "annotations": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "declaredAnnotations": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "sealed": {
                      "type": "boolean"
                    },
                    "specificationTitle": {
                      "type": "string"
                    },
                    "specificationVersion": {
                      "type": "string"
                    },
                    "specificationVendor": {
                      "type": "string"
                    },
                    "implementationTitle": {
                      "type": "string"
                    },
                    "implementationVersion": {
                      "type": "string"
                    },
                    "implementationVendor": {
                      "type": "string"
                    }
                  }
                }
              },
              "defaultAssertionStatus": {
                "type": "boolean",
                "writeOnly": true
              }
            }
          }
        }
      },
      "AutowireCapableBeanFactory": {
        "type": "object"
      },
      "BeanFactory": {
        "type": "object"
      },
      "DefaultHttpStatusCode": {
        "allOf": [
          {
            "$ref": "#/components/schemas/HttpStatusCode"
          }
        ]
      },
      "Environment": {
        "type": "object",
        "properties": {
          "activeProfiles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "defaultProfiles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FilterRegistration": {
        "type": "object",
        "properties": {
          "servletNameMappings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "urlPatternMappings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "name": {
            "type": "string"
          },
          "className": {
            "type": "string"
          },
          "initParameters": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "HttpStatus": {
        "allOf": [
          {
            "$ref": "#/components/schemas/HttpStatusCode"
          }
        ],
        "enum": [
          "100 CONTINUE",
          "101 SWITCHING_PROTOCOLS",
          "102 PROCESSING",
          "103 EARLY_HINTS",
          "103 CHECKPOINT",
          "200 OK",
          "201 CREATED",
          "202 ACCEPTED",
          "203 NON_AUTHORITATIVE_INFORMATION",
          "204 NO_CONTENT",
          "205 RESET_CONTENT",
          "206 PARTIAL_CONTENT",
          "207 MULTI_STATUS",
          "208 ALREADY_REPORTED",
          "226 IM_USED",
          "300 MULTIPLE_CHOICES",
          "301 MOVED_PERMANENTLY",
          "302 FOUND",
          "302 MOVED_TEMPORARILY",
          "303 SEE_OTHER",
          "304 NOT_MODIFIED",
          "305 USE_PROXY",
          "307 TEMPORARY_REDIRECT",
          "308 PERMANENT_REDIRECT",
          "400 BAD_REQUEST",
          "401 UNAUTHORIZED",
          "402 PAYMENT_REQUIRED",
          "403 FORBIDDEN",
          "404 NOT_FOUND",
          "405 METHOD_NOT_ALLOWED",
          "406 NOT_ACCEPTABLE",
          "407 PROXY_AUTHENTICATION_REQUIRED",
          "408 REQUEST_TIMEOUT",
          "409 CONFLICT",
          "410 GONE",
          "411 LENGTH_REQUIRED",
          "412 PRECONDITION_FAILED",
          "413 PAYLOAD_TOO_LARGE",
          "413 REQUEST_ENTITY_TOO_LARGE",
          "414 URI_TOO_LONG",
          "414 REQUEST_URI_TOO_LONG",
          "415 UNSUPPORTED_MEDIA_TYPE",
          "416 REQUESTED_RANGE_NOT_SATISFIABLE",
          "417 EXPECTATION_FAILED",
          "418 I_AM_A_TEAPOT",
          "419 INSUFFICIENT_SPACE_ON_RESOURCE",
          "420 METHOD_FAILURE",
          "421 DESTINATION_LOCKED",
          "422 UNPROCESSABLE_ENTITY",
          "423 LOCKED",
          "424 FAILED_DEPENDENCY",
          "425 TOO_EARLY",
          "426 UPGRADE_REQUIRED",
          "428 PRECONDITION_REQUIRED",
          "429 TOO_MANY_REQUESTS",
          "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
          "451 UNAVAILABLE_FOR_LEGAL_REASONS",
          "500 INTERNAL_SERVER_ERROR",
          "501 NOT_IMPLEMENTED",
          "502 BAD_GATEWAY",
          "503 SERVICE_UNAVAILABLE",
          "504 GATEWAY_TIMEOUT",
          "505 HTTP_VERSION_NOT_SUPPORTED",
          "506 VARIANT_ALSO_NEGOTIATES",
          "507 INSUFFICIENT_STORAGE",
          "508 LOOP_DETECTED",
          "509 BANDWIDTH_LIMIT_EXCEEDED",
          "510 NOT_EXTENDED",
          "511 NETWORK_AUTHENTICATION_REQUIRED"
        ]
      },
      "HttpStatusCode": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "is4xxClientError": {
            "type": "boolean"
          },
          "is5xxServerError": {
            "type": "boolean"
          },
          "is1xxInformational": {
            "type": "boolean"
          },
          "is2xxSuccessful": {
            "type": "boolean"
          },
          "is3xxRedirection": {
            "type": "boolean"
          }
        }
      },
      "JspConfigDescriptor": {
        "type": "object",
        "properties": {
          "taglibs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaglibDescriptor"
            }
          },
          "jspPropertyGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JspPropertyGroupDescriptor"
            }
          }
        }
      },
      "JspPropertyGroupDescriptor": {
        "type": "object",
        "properties": {
          "buffer": {
            "type": "string"
          },
          "trimDirectiveWhitespaces": {
            "type": "string"
          },
          "errorOnELNotFound": {
            "type": "string"
          },
          "scriptingInvalid": {
            "type": "string"
          },
          "deferredSyntaxAllowedAsLiteral": {
            "type": "string"
          },
          "elIgnored": {
            "type": "string"
          },
          "pageEncoding": {
            "type": "string"
          },
          "isXml": {
            "type": "string"
          },
          "includePreludes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "includeCodas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errorOnUndeclaredNamespace": {
            "type": "string"
          },
          "defaultContentType": {
            "type": "string"
          },
          "urlPatterns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RedirectView": {
        "type": "object",
        "properties": {
          "applicationContext": {
            "$ref": "#/components/schemas/ApplicationContext"
          },
          "servletContext": {
            "$ref": "#/components/schemas/ServletContext",
            "writeOnly": true
          },
          "contentType": {
            "type": "string"
          },
          "requestContextAttribute": {
            "type": "string"
          },
          "staticAttributes": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "exposePathVariables": {
            "type": "boolean"
          },
          "exposeContextBeansAsAttributes": {
            "type": "boolean",
            "writeOnly": true
          },
          "exposedContextBeanNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "writeOnly": true
          },
          "beanName": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "contextRelative": {
            "type": "boolean",
            "writeOnly": true
          },
          "http10Compatible": {
            "type": "boolean",
            "writeOnly": true
          },
          "exposeModelAttributes": {
            "type": "boolean",
            "writeOnly": true
          },
          "encodingScheme": {
            "type": "string",
            "writeOnly": true
          },
          "statusCode": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/DefaultHttpStatusCode"
              },
              {
                "$ref": "#/components/schemas/HttpStatus"
              }
            ],
            "writeOnly": true
          },
          "expandUriTemplateVariables": {
            "type": "boolean",
            "writeOnly": true
          },
          "propagateQueryParams": {
            "type": "boolean",
            "writeOnly": true
          },
          "hosts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "redirectView": {
            "type": "boolean"
          },
          "propagateQueryProperties": {
            "type": "boolean"
          },
          "attributesMap": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "writeOnly": true
          },
          "attributesCSV": {
            "type": "string",
            "writeOnly": true
          }
        }
      },
      "ServletContext": {
        "type": "object",
        "properties": {
          "classLoader": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "registeredAsParallelCapable": {
                "type": "boolean"
              },
              "definedPackages": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "annotations": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "declaredAnnotations": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "sealed": {
                      "type": "boolean"
                    },
                    "specificationTitle": {
                      "type": "string"
                    },
                    "specificationVersion": {
                      "type": "string"
                    },
                    "specificationVendor": {
                      "type": "string"
                    },
                    "implementationTitle": {
                      "type": "string"
                    },
                    "implementationVersion": {
                      "type": "string"
                    },
                    "implementationVendor": {
                      "type": "string"
                    }
                  }
                }
              },
              "defaultAssertionStatus": {
                "type": "boolean",
                "writeOnly": true
              }
            }
          },
          "majorVersion": {
            "type": "integer",
            "format": "int32"
          },
          "minorVersion": {
            "type": "integer",
            "format": "int32"
          },
          "sessionCookieConfig": {
            "$ref": "#/components/schemas/SessionCookieConfig"
          },
          "virtualServerName": {
            "type": "string"
          },
          "attributeNames": {
            "type": "object"
          },
          "contextPath": {
            "type": "string"
          },
          "initParameterNames": {
            "type": "object"
          },
          "sessionTrackingModes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["COOKIE", "URL", "SSL"]
            },
            "uniqueItems": true,
            "writeOnly": true
          },
          "sessionTimeout": {
            "type": "integer",
            "format": "int32"
          },
          "servletRegistrations": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ServletRegistration"
            }
          },
          "effectiveMajorVersion": {
            "type": "integer",
            "format": "int32"
          },
          "effectiveMinorVersion": {
            "type": "integer",
            "format": "int32"
          },
          "serverInfo": {
            "type": "string"
          },
          "servletContextName": {
            "type": "string"
          },
          "filterRegistrations": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FilterRegistration"
            }
          },
          "defaultSessionTrackingModes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["COOKIE", "URL", "SSL"]
            },
            "uniqueItems": true
          },
          "effectiveSessionTrackingModes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["COOKIE", "URL", "SSL"]
            },
            "uniqueItems": true
          },
          "jspConfigDescriptor": {
            "$ref": "#/components/schemas/JspConfigDescriptor"
          },
          "requestCharacterEncoding": {
            "type": "string"
          },
          "responseCharacterEncoding": {
            "type": "string"
          }
        }
      },
      "ServletRegistration": {
        "type": "object",
        "properties": {
          "mappings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "runAsRole": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "className": {
            "type": "string"
          },
          "initParameters": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "SessionCookieConfig": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "comment": {
            "type": "string",
            "deprecated": true
          },
          "maxAge": {
            "type": "integer",
            "format": "int32"
          },
          "domain": {
            "type": "string"
          },
          "httpOnly": {
            "type": "boolean"
          },
          "secure": {
            "type": "boolean"
          }
        }
      },
      "TaglibDescriptor": {
        "type": "object",
        "properties": {
          "taglibURI": {
            "type": "string"
          },
          "taglibLocation": {
            "type": "string"
          }
        }
      },
      "ResponseMapStringString": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "error": {
            "$ref": "#/components/schemas/ErrorInfo"
          }
        }
      }
    }
  }
}
