@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-noto-sans-kr: 'Noto Sans KR', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-kr);
  --font-mono: var(--font-noto-sans-kr);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-kr);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1;
  font-variant-ligatures: common-ligatures;
}
